<launch>
  <!-- Pass the ROBOT_TYPE environment variable to ROS parameters -->
  <param name="robot_type" value="$(env ROBOT_TYPE)" />

  <param name="use_gazebo" value="true"/>
  <param name="is_sim" value="true"/>

  <include file="$(find pointfoot_gazebo)/launch/empty_world.launch"/>
  <rosparam file="$(find robot_controllers)/config/controllers.yaml" command="load"/>
  <param name="policyFile" value="$(find robot_controllers)/config/pointfoot/$(env ROBOT_TYPE)/policy/policy.onnx"/>
  <param name="encoderFile" value="$(find robot_controllers)/config/pointfoot/$(env ROBOT_TYPE)/policy/encoder.onnx"/>
  <param name="robot_description" command="cat $(find robot_description)/pointfoot/$(env ROBOT_TYPE)/urdf/robot_with_arm.urdf"/>
  <rosparam file="$(find robot_controllers)/config/pointfoot/$(env ROBOT_TYPE)/params.yaml" command="load"/>
  <rosparam file="$(find robot_hw)/config/robot_hw.yaml" command="load"/>
  <rosparam file="$(find robot_hw)/config/joystick.yaml" command="load"/>
  <node name="pointfoot_hw" pkg="robot_hw" type="pointfoot_node" respawn="false" clear_params="true" required="true" output="screen" args="127.0.0.1" />
  
  <!-- Spawn joint_state_controller so PointfootHW publishes /joint_states -->
  <node ns="pointfoot_hw" name="joint_state_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="/controllers/joint_state_controller" />

</launch>
